---
import th_1 from "../assets/thumbs/thinkfencing.jpg";
import th_2 from "../assets/thumbs/Walkers Ordering system 1.jpg";
import th_3 from "../assets/thumbs/JU Design Booking system- ClickUp - 3.jpg";
import th_4 from "../assets/thumbs/Kinder garten TT 1.jpg";
import th_6 from "../assets/thumbs/Vicroads traffic monitor.jpg";
---

<!-- Two -->
<section id="two">
  <h2 class="disable-click">Recent Works</h2>
  <div class="row">
    <article class="col-6 col-12-xsmall work-item">
      <a href="thinkfencing" class="image fit thumb"
        ><img src={th_1} alt="" /></a
      >
      <h3>Think Fencing</h3>
      <p>Online Ordering System linked to Google database</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="walkers" class="image fit thumb"><img src={th_2} alt="" /></a>
      <h3>Walkers</h3>
      <p>Online Ordering System</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="judesign" class="image fit thumb"><img src={th_3} alt="" /></a>
      <h3>JU Design</h3>
      <p>Online Booking System linked to ClickUp</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a
        href="https://ballaratosm.com.au/"
        target="_blank"
        class="image fit thumb2 white-bg">Ballarat OSM</a
      >
      <a
        href="https://thinkfencing.com.au/"
        target="_blank"
        class="image fit thumb2 white-bg">Think Fencing</a
      >
      <a
        href="https://mortonco.com.au/"
        target="_blank"
        class="image fit thumb2 white-bg">Morton+Co Architects</a
      >
      <a
        href="https://acssport.org.au/"
        target="_blank"
        class="image fit thumb2 white-bg">ACS Sport</a
      >
      <a
        href="https://cocoonatelier.com.au/"
        target="_blank"
        class="image fit thumb2 white-bg">Cocoon Atelier</a
      >
      <h3>Wordpress projects</h3>
      <p>A few projects that I worked on alongside UX designers</p>
    </article>
  </div>
  <h2>Old Works</h2>
  <div class="row">
    <article class="col-6 col-12-xsmall work-item">
      <a href="kinder" class="image fit thumb"><img src={th_4} alt="" /></a>
      <h3>Thanh Tam Kindergarten</h3>
      <p>Student management system</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="vicroads" class="image fit thumb"><img src={th_6} alt="" /></a>
      <h3>Melbourne Traffic Volume and Flow visualization</h3>
      <p>A traffic analysis and visualization tool for VicRoads researchers</p>
    </article>
  </div>
</section>
